:root {
  --rich-black: rgb(0, 18, 31);
  --charcoal: rgb(44, 62, 80);
  --prussian-blue: rgb(0, 52, 89);
  --honululu-blue: rgb(0, 119, 182);
  --piction-blue: rgb(0, 168, 232);
  --aero: rgb(99, 191, 227);
  --powder-blue: rgb(172, 200, 230);
  --platinum: rgb(228, 228, 228);
  --anti-flash-white: rgb(236, 236, 236);
  --delete-button-color: rgb(230, 57, 70);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  margin: 0;
  background-color: var(--anti-flash-white);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.custom-hr {
  width: 100%;
  margin: 5px 0;
  border: 1px solid #e0e0e0;
}

/* .container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
} */
