.Accounts {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.accounts-content {
  width: 100%;
}
.accounts-body {
  width: 100%;
  height: 94vh;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accounts-main {
  height: 100%;
  width: 80%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tabs-list {
  display: flex;
  flex-direction: row;
}
.tabs-logout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tab {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: rgb(101, 116, 131);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  background-color: transparent;
  text-transform: uppercase;
  margin-right: 7px;
}
.tab:hover {
  color: var(--honululu-blue);
}
.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
#logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 26px;
  color: var(--charcoal);
}
.tooltip {
  position: relative;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  font-size: 14px;
  background-color: var(--charcoal);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  right: 125%;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--charcoal);
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.accounts-hr {
  margin: 5px 0;
  border: 1px solid #e0e0e0;
}
.tab-panel {
  height: 100%;
  width: 100%;
}

/* Users */
.Users {
  display: flex;
  flex-direction: column;
}

/* CreateUser */
.create-user-main {
  padding: 10px;
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}
.create-user-header {
  width: 100%;
}
.create-user-header p {
  margin-top: 4px;
  font-size: 20px;
  font-weight: bold;
  color: var(--charcoal);
}
.cu-form-main {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#create-user {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}
.cu-row {
  width: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cu-row div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
#create-user label {
  color: #333;
  font-weight: bold;
}
#create-user input,
#create-user select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
}

/* Clinic */
.Clinic {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
#clinic {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clinic-buttons-both {
  height: 10%;
}
