/*#region Appointments */
.Appointments {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.appointments-content {
  width: 100%;
}
.appointments-body {
  width: 100%;
  height: 94vh;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appointments-main {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
}
.top-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}
.search-date {
  display: flex;
  flex-direction: row;
  width: 40%;
}
#search-date {
  width: 40%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}
.appointments-buttons {
  width: fit-content;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #009be5;
  color: white;
  cursor: pointer;
  font-size: 14px;
  align-self: center;
}
.appointments-buttons:hover {
  background-color: #0077b3;
}
.table-container {
  max-height: 75vh;
  overflow-y: auto;
}
.icon {
  color: black;
  font-size: 18px;
  align-self: center;
  margin: 0 15px;
}
/*#endregion Appointments */

/*#region Create Appointment, Edit Appointment */
.CreateAppointment,
.EditAppointment,
.AddReceipt,
.ReceiptPage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.create-appointment-body {
  width: 100%;
  height: 94vh;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-appointment-main {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}
.create-appointment-intro {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--charcoal);
}
#create-appointment,
#edit-appointment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.appointment-data-row {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 25px;
  justify-content: center;
}
.appointment-labels {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.appointment-labels #patient-list-label-div {
  margin-bottom: 5px;
}
#patient-list {
  width: 100% !important;
  /* border: 1px solid #e0e0e0 !important; */
  border: none !important;
  height: 22px !important;
  padding: 5px 10px !important;
  margin-top: 0 !important;
}
.appointment-labels label {
  font-size: 16px;
  margin-bottom: 20px;
}
.appointment-labels input,
.appointment-labels select {
  width: 100%;
  height: 35px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 5px 10px;
  margin-top: 5px;
}
.appointment-labels textarea {
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  width: 100%;
  height: 100px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 5px 10px;
  margin-top: 5px;
}
.appointment-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/*#endregion Create Appointment */

/*#region Add Receipt */
.add-receipt-main {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}
#add-receipt-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #e0e0e0;
  max-height: 67vh;
  overflow-y: auto;
}
#add-receipt-form input[type='number'] {
  width: 10%;
  height: 35px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 0 5px;
}
#add-receipt-form select {
  width: 65%;
  height: 35px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 0 5px;
}
.add-receipt-form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.add-receipt-form-row-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
#add-service-input,
#delete-service-input {
  width: fit-content;
  height: fit-content;
  color: white;
  border-radius: 8px;
  padding: 7px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}
#add-service-input {
  background-color: var(--piction-blue);
}
#delete-service-input {
  background-color: var(--delete-button-color);
}
#add-service-input:hover {
  background-color: var(--honululu-blue);
}
#delete-service-input:hover {
  background-color: rgb(167, 23, 35);
}
.add-receipt-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}
.receipt-text {
  font-weight: bold;
  font-size: 16px;
  color: var(--charcoal);
}

/*#endregion Add Receipt */

/*#region ReceiptCard */
.receipt-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.receipt-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.receipt-services {
  max-height: 55vh;
  overflow-y: auto;
  /* border: 1px solid black; */
}
.service-entry {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  border: 1px solid lightblue;
  border-radius: 8px;
  padding: 5px;
}
.service-entry p {
  margin: 2px 0;
  font-size: 16px;
}
.receipt-sum {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.receipt-sum p {
  font-size: 16px;
  margin: 5px 0;
}
/*#endregion ReceiptCard */
