.Notes,
.NoteCard {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.notes-content,
.notes-body,
.notes-main {
  width: 100%;
}

.notes-body {
  height: 94vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.notes-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes-main-header {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#notes-title {
  color: var(--charcoal);
  font-weight: bold;
  font-size: 18px;
}

.notes-buttons {
  width: fit-content;
  height: fit-content;
  background-color: var(--piction-blue);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.notes-list {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

/* NoteCard */
.NoteCard .notes-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.note-info-main,
.create-note-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 70%;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-fullname {
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--charcoal);
}

#create-note,
#note-info {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.note-data-row {
  margin: 10px 0;
}

.note-data-row span {
  font-size: 16px;
  font-weight: 600;
  color: var(--charcoal);
}

.note-data-row textarea,
.note-data-row input {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
}

.note-data-row input {
  height: 40px;
  padding: 0 10px;
}
.note-data-row textarea {
  resize: none;
  height: 260px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

.note-info-buttons,
.note-info-buttons-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.create-note-main .note-info-buttons-both {
  padding-top: 0;
}

#create-note {
  margin-top: 10px;
}
