.Patients {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.patients-content {
  width: 100%;
}
.patients-body {
  width: 100%;
  height: 94vh;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*#region Patients  */
.patients-main {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.top-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}
.search-service {
  display: flex;
  flex-direction: row;
}
#search-input {
  width: 100%;
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}
.service-buttons {
  width: fit-content;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #009be5;
  color: white;
  cursor: pointer;
  font-size: 14px;
  align-self: center;
}
.service-buttons:hover {
  background-color: #0077b3;
}
.table-block {
  width: 100%;
}
/*#endregion */

/*#region Patient's Card  */
.patients-card-tabs {
  height: 82vh;
  width: 85%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.patients-card-main {
  width: 100%;
  padding: 4px 20px;
}
.tabs-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 0 10px;
}
/*#endregion */

/*#region Patient's Info  */
.PatientsInfo {
  height: 100%;
  width: 100%;
}
.patients-info-main {
  height: 100%;
  width: 100%;
}
.patients-info-buttons-both {
  padding-top: 10%;
}
.patients-fullname {
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--charcoal);
}
.patients-data {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40%;
}
.patients-data-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-right: 10%;
  margin-top: 12px;
}
.patients-data-row label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}
.patients-data-row span {
  margin-right: 5px;
}
.patients-data-row textarea,
.patients-data-row input {
  width: 60%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
}
.patients-data-row textarea {
  resize: none;
  height: 100px;
  padding: 10px;
}
.patients-data-row input {
  height: 30px;
  padding: 0 10px;
}
.patients-info-buttons,
.patients-info-buttons-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
/* .disabled {
  display: none;
} */
/*#endregion */

/*#region Anamnesis  */
.table-container-diseases {
  max-height: 63vh;
  overflow-y: auto;
}
.checkbox-disease {
  width: 100%;
  height: 20px;
}
.textarea-note {
  width: 100%;
  height: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  color: #333;
  resize: none;
}
.anamnesis-buttons,
.anamnesis-buttons-2 {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* .disabled {
  display: none;
} */
/* .diseases-buttons button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin: 10px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */
/* #diseases-button-save,
#diseases-button-update {
  background-color: #009be5;
}
#diseases-button-save:hover,
#diseases-button-update:hover {
  background-color: #0077b3;
}
#diseases-button-cancel {
  background-color: #767676;
}
#diseases-button-cancel:hover {
  background-color: #585858;
} */
/*#endregion */

/*#region Form043  */
.form043-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form043-info {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--charcoal);
}
.form043-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-height: 65vh;
  overflow-y: auto;
}
#form043 {
  display: flex;
  width: 100%;
  flex-direction: column;
}
#form043 label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#form043 span {
  margin-bottom: 5px;
}
#form043 textarea {
  width: 100%;
  height: 30%; /* prev. 100px */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  resize: none;
}
/*#endregion */

/*#region Treatment Plan  */
/*#endregion */

/*#region Doctor's Diary  */
/*#endregion */

/*#region Patient's Appointments  */
.PatientsAppointments {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.patients-appointments-header {
  height: 100%;
  width: 100%;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
  color: var(--charcoal);
}
.patients-appointments-table {
  max-height: 65vh;
  overflow-y: auto;
}

/*#endregion */

/*#region Create Patient  */
.create-patient-body {
  width: 100%;
  height: 94vh;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-patient-main {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.create-patient-intro {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
#create-patient {
  width: 100%;
  height: 100%;
}
#create-patient .patients-data-row {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
#create-patient label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}
#create-patient input {
  width: 70%;
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
}
#create-patient textarea {
  width: 70%;
  height: 100px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  resize: none;
}
.create-patient-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
/*#endregion */

/*#region Patient's Page Settings  */
.PPageSettings {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ppage-header,
.ppage-footer {
  width: 100%;
  height: 100%;
}
.ppage-header {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
  color: var(--charcoal);
}
.ppage-main {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.ppage-info-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}
.ppage-info-item label {
  font-size: 18px;
  margin-right: 10px;
}
.ppage-info-item input {
  width: 100%;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
}
.ppage-info-text p {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}
#create-ppage-button,
#delete-ppage-button {
  width: fit-content;
  padding: 5px 10px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin: 10px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#create-ppage-button {
  background-color: var(--piction-blue);
}
#create-ppage-button:hover {
  background-color: #0077b3;
}
#delete-ppage-button {
  background-color: var(--delete-button-color);
}
#delete-ppage-button:hover {
  background-color: #ff4d5a;
}
.disabled-ppage-button {
  background-color: gray !important;
  cursor: not-allowed;
}
/*#endregion */

/*#region Other styles  */
.disabled {
  display: none;
}
/*#endregion */
