.Patients {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.patients-content {
  width: 100%;
}
.patients-body {
  width: 100%;
  height: 94vh;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*#region Patients  */
.patients-main {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.top-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}
.search-service {
  display: flex;
  flex-direction: row;
}
#search-input {
  width: 100%;
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}
.service-buttons {
  width: fit-content;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #009be5;
  color: white;
  cursor: pointer;
  font-size: 14px;
  align-self: center;
}
.service-buttons:hover {
  background-color: #0077b3;
}
.table-block {
  width: 100%;
}
/*#endregion */

/*#region Patient's Card  */
.patients-card-tabs {
  height: 82vh;
  width: 85%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.patients-card-main {
  width: 100%;
  padding: 4px 20px;
}
.tabs-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 0 10px;
}
/*#endregion */

/*#region Patient's Info  */
.PatientsInfo {
  height: 100%;
  width: 100%;
}
.patients-info-main {
  height: 100%;
  width: 100%;
}
.patients-info-buttons-both {
  padding-top: 10%;
}
.patients-fullname {
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--charcoal);
}
.patients-data {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40%;
}
.patients-data-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-right: 10%;
  margin-top: 12px;
}
.patients-data-row label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}
.patients-data-row span {
  margin-right: 5px;
}
.patients-data-row textarea,
.patients-data-row input {
  width: 60%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
}
.patients-data-row textarea {
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  height: 100px;
  padding: 10px;
}
.patients-data-row input {
  height: 30px;
  padding: 0 10px;
}
.patients-info-buttons,
.patients-info-buttons-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
/*#endregion */

/*#region Anamnesis  */
.table-container-diseases {
  max-height: 63vh;
  overflow-y: auto;
}
.checkbox-disease {
  width: 100%;
  height: 20px;
}
.textarea-note {
  width: 100%;
  height: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  color: #333;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}
.anamnesis-buttons,
.anamnesis-buttons-2 {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/*#endregion */

/*#region Form043  */
.form043-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form043-info {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--charcoal);
}
.form043-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-height: 65vh;
  overflow-y: auto;
}
#form043 {
  display: flex;
  width: 100%;
  flex-direction: column;
}
#form043 label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#form043 span {
  margin-bottom: 5px;
}
#form043 textarea {
  width: 100%;
  height: 30%; /* prev. 100px */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}
/*#endregion */

/*#region Dental Formula */
.DentalFormula {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.DentalFormula-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70vh;
}
.DentalFormula-block-1 {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 82%;
}

#df-table {
  border-collapse: collapse;
}

.image-row {
  text-align: center;
  height: 80%;
}

.options-row td {
  width: 6.25%;
  height: fit-content;
  text-align: center;
}

#dental-formula-img {
  padding: 5px;
  /* width: 100%; */
  height: auto;

  /* from html styles */
  width: 80%;
  display: block;
  margin: 0 auto;
}

.DentalFormula-block-2 {
  width: 100%;
  height: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.df-note {
  width: 75%;
}
.df-buttons {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.df-note,
.df-buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.df-note textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* SELECT */
.df-icon {
  font-size: 18px;
}

#demo-multiple-chip,
#select-multiple-chip,
#chip {
  padding: 0;
  border: none;
  background: none;
}
#demo-multiple-chip {
  padding-left: 4px;
  width: 35px;
  border-radius: 0px;
}
#chip {
  margin-right: 5px;
}

/*#endregion Dental Formula  */

/*#region Treatment Plan  */
.TreatmentPlans {
  height: 100%;
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.treatmentplans-header {
  width: 56%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.add-plan button {
  width: fit-content;
  height: fit-content;
  padding: 10px 12px;
  border: none;
  background-color: var(--piction-blue);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.treatmentplans-list {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 5px;
}

/* Create Treatment Plan */
.CreateTreatmentPlan,
.TreatmentPlan {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tplan-content,
.tplan-body,
.tplan-main {
  width: 100%;
}

.tplan-body {
  height: 94vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.tplan-main {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TreatmentPlan .tplan-main {
  height: 85%;
}

.tplan-fullname,
.tplan-buttons {
  height: 10%;
}
.tplan-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--charcoal);
  margin-bottom: 10px;
}
.tplan-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#create-tplan,
#tplan-form {
  width: 100%;
  height: 80%;
}
.tplan-data-row:nth-child(1) {
  width: 15%;
  height: 20%;
}
.tplan-data-row:nth-child(2),
.tplan-data-row:nth-child(3) {
  width: 100%;
  height: 40%;
}
.tplan-data-row {
  display: flex;
  flex-direction: column;
}
.tplan-data-row label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.tplan-data-row input[type='date'] {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #333;
  margin-top: 5px;
}
.tplan-data-row textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 90%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #333;
  margin: 5px 0;
  resize: none;
}

.tplan-buttons-1,
.tplan-buttons-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
/*#endregion */

/*#region Doctor's Diary */
.docsrecords-list {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

/* Create DD Record */
.CreateDDRecord,
.DDRecord {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.docsrecord-content,
.docsrecord-body,
.docsrecord-main {
  width: 100%;
}

.docsrecord-body {
  height: 94vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.docsrecord-main {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.DDRecord .docsrecord-main {
  height: 85%;
}

.docsrecord-fullname,
.docsrecord-buttons {
  height: 10%;
}
.docsrecord-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--charcoal);
  margin-bottom: 10px;
}
.docsrecord-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#create-docsrecord,
#docsrecord-form {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
#create-docsrecord label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-right: 10px;
}
.docsrecord-date-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}
.docsrecord-date-row input {
  width: 20%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #333;
}
.docsrecord-data-rows {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 86%;
}
.docsrecord-data-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 8px;
}
.docsrecord-data-row textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #333;
  margin: 5px 0;
  resize: none;
}

/*#endregion */

/*#region Patient's Appointments  */
.PatientsAppointments {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.patients-appointments-header {
  height: 100%;
  width: 100%;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
  color: var(--charcoal);
}
.patients-appointments-table {
  max-height: 65vh;
  overflow-y: auto;
}

/*#endregion */

/*#region Create Patient  */
.create-patient-body {
  width: 100%;
  height: 94vh;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-patient-main {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.create-patient-intro {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
#create-patient {
  width: 100%;
  height: 100%;
}
#create-patient .patients-data-row {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
#create-patient label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}
#create-patient input {
  width: 70%;
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
}
#create-patient textarea {
  width: 70%;
  height: 100px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}
.create-patient-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
/*#endregion */

/*#region Patient's Page Settings  */
.PPageSettings {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ppage-header,
.ppage-footer {
  width: 100%;
  height: 100%;
}
.ppage-header {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
  color: var(--charcoal);
}
.ppage-main {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.ppage-info-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}
.ppage-info-item label {
  font-size: 18px;
  margin-right: 10px;
}
.ppage-info-item input {
  width: 100%;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
}
.ppage-info-text p {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}
#create-ppage-button,
#delete-ppage-button {
  width: fit-content;
  padding: 5px 10px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin: 10px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#create-ppage-button {
  background-color: var(--piction-blue);
}
#create-ppage-button:hover {
  background-color: #0077b3;
}
#delete-ppage-button {
  background-color: var(--delete-button-color);
}
#delete-ppage-button:hover {
  background-color: #ff4d5a;
}
.disabled-ppage-button {
  background-color: gray !important;
  cursor: not-allowed;
}
/*#endregion */

/*#region Other styles  */
.disabled {
  display: none;
}
/*#endregion */
